[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

flask = "*"
gunicorn = "*"
pandas = "*"
firebase_admin = "*"
flask-threads = "*"

[requires]

python_version = "3.8"