{% extends 'base.html' %}
{% block script %}
    <script>
        function validate_form() {
            if (document.getElementById("file_input").value === "") {
                alert('please enter a file');
                return false;
            }
        }

        function load_form() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/upload', true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            const firebaseConfig = {
                apiKey: "AIzaSyCcP40J5jS0Xc5tLwIx7X19059KPMBkvgk",
                authDomain: "popup-965c9.firebaseapp.com"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.auth().onAuthStateChanged((user) => {
                if (user) {
                    xhr.setRequestHeader('uid', user.uid);
                } else {
                    window.location.assign('/login');
                }
            });
            xhr.send();
        }
    </script>
    <link href="../static/css/upload_css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block body %}
    <h1 class="page-header">Upload Experiment</h1>
    <form method="post" enctype=multipart/form-data onload="getId()">
        <div class="form-group">
            <label for="file_input">Choose Experiment File</label>
            <input type="file" name="file_input" id="file_input"
                   accept=".json" class="custom-file-control"
            />
            <h2 style="color: {{ h2color }}; visibility: {{ visible }}">
                {{ value }}
            </h2>
            <button class="btn btn-primary btn-lg btn-block" type="submit">
                Submit
            </button>
            <a href="{{ link }}" id="experiment_button" class="btn btn-success btn-lg btn-block"
               type="button" style="visibility:{{ linkExist }}">
                To Experiment
            </a>
        </div>
    </form>
{% endblock %}